body {
	background-color:#F2F2F2;
}
header{
	background-color:#151515;
	margin-top:0px;
	padding-top:0px;
	
	position:absolute;
	height:6%;
	width:100%;
}

.logo{
	width:20%;
	height:10%;
}
.balance{
	background-color:white;
	position:absolute;
	top:33%;
	left:14.5%;
	height:40%;
	width:39%;
	border-radius:25px;

}

.expence{
	background-color:white;
	position:absolute;
	top:76%;
	left:14.5%;
	height:40%;
	width:39%;
	margin-bottom:1%;
	border-radius:25px;
}

.transaction{
	background-color:white;
	position:absolute;
	top:33%;
	left:56%;
	height:83%;
	width:39%;
	margin-bottom:1%;
	border-radius:25px;
}

.left{
background-color:#1C1C1C;
position:absolute;
top:6.90%;
height:109.5%;
width:11%;
}